<h1>Seja Bem-Vindo!</h1>

<%= render "header"%>

<%=link_to 'Português', root_path(locale: 'pt-BR')%> |
<%=link_to 'English',root_path(locale: :en)%>
<br>

<%= image_tag "https://www.buybitcoinworldwide.com/img/goodicons/wallet.png", size:"150x150"%>

<!-- Devolve a data traduzida para o local predefinido -->
<p><strong>Data:</strong> <%= I18n.l(Date.today)%></p>

<!-- chama o metodo locale -->
<p>Idioma: <strong><%=t('actual_locale')%></strong></p>

<!-- traduz a chave hello -->
<p><font color=red><%=t('hello')%></font></p>


<ul>
	<li><%=link_to "Moedas", coins_path%></li>
</ul>
<ul>
	<li><%=link_to "Mineração", mining_types_path%></li>
</ul>

<p>Você está em ambiente de: <strong><%= ambiente?(Rails.env)%></strong></p>
<p> Preencha esses campos passando parametros pela url</p>
<p>Desenvolvedor: <%= @dev %></p>
<p>Curso: <%= @curso %></p>
