<%= form_with(model: coin, local: true) do |form| %>
<% if coin.errors.any? %>
<script>

    <% coin.errors.full_messages.each do |message| %>
      $.notify("<%=message %>","error",{position:"top center"});
    <% end %>

</script>
<!--
<div id="error_explanation">
  <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

  <ul>
    <% coin.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
-->
<% end %>

<p>Comit do VSCODE</p>

<div class="field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<div class="field">
  <%= form.label :acronym %>
  <%= form.text_field :acronym %>
</div>

<div class="field">
  <%= form.label :url_image %>
  <%= form.text_field :url_image %>
</div>

<div class="field">
  <%= form.label :dollar_value %>
  <%= form.text_field :dollar_value %>
</div>

<div class="field">
  <%= form.label :mining_type_id %>
  <%= form.select("mining_type_id",@mining_types_options,{include_blank: "Selecione..."}) %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>

<p><%=desenvolvedor%></p>
<br>
